{% extends "base.html.jinja2" %}
{% block title %}About{% endblock %}
{% block body %}
  <h1>Who We Are</h1>
  <p>University of York Electronics and Engineering Society.</p>
  <h1>Committee</h1>
  <ul><li>President</li><li>Secretary</li><li>etc.</li></ul>
  <h3><a href="https://sums-data-public.sums.su/YU/activity_constitutions/28/ac_constitution_28_c0844f_Shock%20Society%20Constitution%2020-21.pdf">Constitution</a>
{% endblock %}
