{% extends "base.html.jinja2" %}
{% import "event_box.html.jinja2" as boxes %}

{% block title %}Events{% endblock %}
{% block body %}
  
  <div class="link_container">
    {% for event in ev_dict %}
      {{ boxes.event(event.name, event.description, event.image, event.form, event.location, event.date, event.start_time, event.end_time) }}
      {% endfor %}
     </div>
{% endblock body %}
