{% extends "base.html.jinja2" %}
{% import "event_box.html.jinja2" as boxes %}
{% set events =
[('Labs', "ShockSoc's regular Lab sessions.<br>Bring your own stuff to work on, pick up one of our projects, or start work on something new.<br>Our lab sessions are open to everyone.", 'P/T/401','01/01/2000','00:00','23:59'),
]
%}


{% block title %}Events{% endblock %}
{% block body %}
  
  <div class="link_container">
    {% for event in ev_dict %}
      {{ boxes.event(event.name, event.description, event.image, event.form, event.location, event.date, event.start_time, event.end_time) }}
      {% endfor %}
     </div>
{% endblock body %}
