{% extends "base.html.jinja2" %}
{% set links =
[('https://yusu.org/activities/view/shocksoc', 'YUSU'),
('https://discord.gg/UYZNqjxAvR', 'Discord'),
('events.html','Events'),
('https://twitter.com/uoy_shocksoc','Twitter'),
('https://www.instagram.com/uoy_shocksoc/','Instagram'),
('https://docs.google.com/forms/d/e/1FAIpQLScVPY7lTE0IHa_7mWGx_MjNMhBXkWMKHFZOogkZxwMHd91v9g/viewform?usp=sf_link', 'Membership'),
('mailto:shocksoc@yusu.org','e-mail')
]
%}

{% import "container_box.html.jinja2" as boxes %}
{% block title %}Home{% endblock title %}
{% block headblock %}<div id="logo_div"><img src="static/logo_new.png" alt="ShockSoc Logo" id="logo"/></div>{% endblock headblock %}
{% block body %}
  <div class="link_container">
    {% for link in main_links_dict %}
      <a href="{{ link.url }}">
	{{boxes.item(link.name, link.icon)}}
      </a>
    {% endfor %}
  </div>
{% endblock body %}
