{% extends "base.html.jinja2" %}

{% import "container_box.html.jinja2" as boxes %}
{% block title %}Home{% endblock title %}
{% block headblock %}<div id="logo_div"><img src="static/logo_new.png" alt="ShockSoc Logo" id="logo"/></div>{% endblock headblock %}
{% block body %}
  <div id="index_about_container">{{home_about}}</div>
  <div class="link_container">
    {% for link in main_links_dict %}
      <a href="{{ link.url }}">
	{{boxes.item(link.name, link.icon)}}
      </a>
    {% endfor %}
  </div>
{% endblock body %}
