{% extends "base.html.jinja2" %}
{% set links =
[('https://yusu.org/activities/view/shocksoc', 'YUSU'),
('https://discord.gg/UYZNqjxAvR', 'Discord'),
('events.html','Events'),
('https://twitter.com/uoy_shocksoc','Twitter'),
('https://www.instagram.com/uoy_shocksoc/','Instagram'),
('https://docs.google.com/forms/d/e/1FAIpQLScVPY7lTE0IHa_7mWGx_MjNMhBXkWMKHFZOogkZxwMHd91v9g/viewform?usp=sf_link', 'Membership'),
('mailto:shocksoc@yusu.org','e-mail')
]
%}

{% block title %}Home{% endblock title %}
{% block headblock %}<div id="logo_div"><img src="static/logo_new.png" alt="ShockSoc Logo" id="logo"/></div>{% endblock headblock %}
{% block body %}
  <div class="link_container">
    {% for item in links %}
      <a href="{{ item[0] }}">
	<div class="link_tile">
	  <img src="static/{{ item[1] }}.png" alt="{{ item[1] }}" width=70%>
	  <br>{{ item[1] }}
	</div>
      </a>
    {% endfor %}
  </div>
{% endblock body %}
