{% set navigation =
[('index.html', 'Home'),
('about.html', 'About'),
('events.html','Events')
]
%}
<nav class="std_nav">
  <div class="navcontainer">
    <a id="navlogoa" href="/"><img src="static/logo_new_inv.png" alt="ShockSoc Logo" id="navlogo"/>ShockSoc</a>
      <ul>
	{% for item in navigation %}
	  <li><a href="{{ item[0] }}">{{ item[1] }}</a></li>
	{% endfor %}
      </ul>
  </div>
</nav>
